@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F;
	src: url(/src/fonts/roboto-4227cb02.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
	src: url(/src/fonts/roboto-0cc66168.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 1F00-1FFF;
	src: url(/src/fonts/roboto-9fb11287.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0370-0377, U + 037A-037F, U + 0384-038A, U + 038C, U + 038E-03A1, U + 03A3-03FF;
	src: url(/src/fonts/roboto-e2c214df.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/roboto-227b7e49.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/roboto-ffeda7cc.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/roboto-98c5876c.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F;
	src: url(/src/fonts/roboto-9fbe78ee.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
	src: url(/src/fonts/roboto-7877c74d.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 1F00-1FFF;
	src: url(/src/fonts/roboto-22741420.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0370-0377, U + 037A-037F, U + 0384-038A, U + 038C, U + 038E-03A1, U + 03A3-03FF;
	src: url(/src/fonts/roboto-a5e11ec8.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/roboto-6558745e.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/roboto-4228a16b.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/roboto-0836af9a.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F;
	src: url(/src/fonts/roboto-2b2cdd35.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
	src: url(/src/fonts/roboto-47688582.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 1F00-1FFF;
	src: url(/src/fonts/roboto-273430c9.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0370-0377, U + 037A-037F, U + 0384-038A, U + 038C, U + 038E-03A1, U + 03A3-03FF;
	src: url(/src/fonts/roboto-04bc3729.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/roboto-d92aeeac.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/roboto-d5320350.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/roboto-7215a895.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F;
	src: url(/src/fonts/roboto-50ec050e.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
	src: url(/src/fonts/roboto-7e5f7538.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 1F00-1FFF;
	src: url(/src/fonts/roboto-1e03c073.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0370-0377, U + 037A-037F, U + 0384-038A, U + 038C, U + 038E-03A1, U + 03A3-03FF;
	src: url(/src/fonts/roboto-5dd772d8.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/roboto-e01d1e16.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/roboto-ec05f3ea.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/roboto-ec36a230.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U + A640-A69F, U + FE2E-FE2F;
	src: url(/src/fonts/roboto-a0cf09a7.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0301, U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
	src: url(/src/fonts/roboto-cc8b5110.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 1F00-1FFF;
	src: url(/src/fonts/roboto-acd7e45b.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0370-0377, U + 037A-037F, U + 0384-038A, U + 038C, U + 038E-03A1, U + 03A3-03FF;
	src: url(/src/fonts/roboto-8f5fe3bb.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/roboto-52c93a3e.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/roboto-5ed1d7c2.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/roboto-ca6b4713.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/worksans-446c61b5.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/worksans-476a5aca.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/worksans-8a25ff54.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0102-0103, U + 0110-0111, U + 0128-0129, U + 0168-0169, U + 01A0-01A1, U + 01AF-01B0, U + 0300-0301, U + 0303-0304, U + 0308-0309, U + 0323, U + 0329, U + 1EA0-1EF9, U + 20AB;
	src: url(/src/fonts/worksans-46a6fd3d.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0100-02AF, U + 0304, U + 0308, U + 0329, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF;
	src: url(/src/fonts/worksans-45a0c642.woff2) format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 0304, U + 0308, U + 0329, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
	src: url(/src/fonts/worksans-e2815db0.woff2) format('woff2');
	font-display: swap;
}
html {
background : #171717;
}
.lp-button:not(:disabled), a {
cursor : pointer;
}
.lp-button, img, svg {
vertical-align : middle;
}
.lp-logo-inverse {
display : none;
}
.tm-header, .tm-header-mobile, .tm-page {
position : relative;
}
main {
display : block;
}
html {
font-family : Roboto;
font-size : 15px;
font-weight : 300;
line-height : 1.6;
color : rgb(255, 255, 255, 0.7);
text-rendering : optimizeLegibility;
overflow-y : scroll;
}
body {
margin : 0;
overflow : hidden;
overflow : clip;
}
a {
color : #fff;
text-decoration : none;
}
.lp-icon-link, .lp-link-toggle {
text-decoration : none !important ;
}
a:hover {
color : #fff;
text-decoration : underline;
}
.lp-link-toggle:hover .lp-link-muted, .lp-nav-default .lp-nav-sub a:hover, .lp-nav-default > li.lp-active > a, .lp-nav-default > li > a:hover, .lp-navbar-dropdown-nav > li > a:hover, .lp-navbar-nav > li.lp-active > a, .lp-navbar-nav > li:hover > a, .lp-navbar-nav > li > a:active {
color : #fff;
}
img, svg {
max-width : 100%;
height : auto;
box-sizing : border-box;
}
p, ul {
margin : 0 0 20px;
}
* + .lp-grid-margin, * + ul, .lp-grid + .lp-grid {
margin-top : 20px;
}
.lp-h1, .lp-h5, h1, h2 {
margin : 0 0 20px;
font-family : Roboto;
font-weight : 400;
color : #fff;
text-transform : none;
}
.lp-h1, h1 {
font-size : 34px;
line-height : 1.4;
font-weight : 300;
}
h2 {
font-size : 25.5px;
line-height : 1.3;
font-weight : 300;
}
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .h1, .h2, .h3, .h4, .h5, .h6, .lp-h1, .lp-h2, .lp-h3, .lp-h4, .lp-h5, .lp-h6, .lp-heading-2xlarge, .lp-heading-3xlarge, .lp-heading-large, .lp-heading-medium, .lp-heading-small, .lp-heading-xlarge, h1, h2, h3, h4, h5, h6 {
margin : 0 0 20px 0;
font-family : Roboto;
font-weight : 400;
color : #fff;
text-transform : none;
}
.lp-h5 {
line-height : 1.4;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-h5 {
font-size : 12px;
}
ul {
padding-left : 30px;
}
.lp-grid > *, ul > li > ul {
margin : 0;
}
.lp-grid-divider > * {
position : relative;
}
.lp-grid-divider > :not(.lp-first-column)::before {
content : "";
position : absolute;
top : 0;
bottom : 0;
border-left : 1px solid rgb(255, 255, 255, 0.1);
}
.lp-grid-divider.lp-grid-stack > .lp-grid-margin::before {
content : "";
position : absolute;
left : 0;
right : 0;
border-top : 1px solid rgb(255, 255, 255, 0.1);
}
.lp-grid-divider {
margin-left : -40px;
}
.lp-grid-divider > * {
padding-left : 40px;
}
.lp-grid-divider > :not(.lp-first-column)::before {
left : 20px;
}
.lp-grid-divider.lp-grid-stack > .lp-grid-margin {
margin-top : 40px;
}
.lp-grid-divider.lp-grid-stack > .lp-grid-margin::before {
top : -20px;
left : 40px;
}
}
@media (min-width: 1200px) {
.lp-grid-divider {
margin-left : -80px;
}
.lp-grid-divider > * {
padding-left : 80px;
}
.lp-grid-divider > :not(.lp-first-column)::before {
left : 40px;
}
.lp-grid-divider.lp-grid-stack > .lp-grid-margin {
margin-top : 80px;
}
.lp-grid-divider.lp-grid-stack > .lp-grid-margin::before {
top : -40px;
left : 80px;
}
}
.lp-grid-divider.lp-grid-column-small, .lp-grid-divider.lp-grid-small {
margin-left : -20px;
}
.lp-grid-divider.lp-grid-column-small > *, .lp-grid-divider.lp-grid-small > * {
padding-left : 20px;
}
.lp-grid-divider.lp-grid-column-small > :not(.lp-first-column)::before, .lp-grid-divider.lp-grid-small > :not(.lp-first-column)::before {
left : 10px;
}
.lp-grid-divider.lp-grid-row-small.lp-grid-stack > .lp-grid-margin, .lp-grid-divider.lp-grid-small.lp-grid-stack > .lp-grid-margin {
margin-top : 20px;
}
.lp-grid-divider.lp-grid-small.lp-grid-stack > .lp-grid-margin::before {
top : -10px;
left : 20px;
}
.lp-grid-divider.lp-grid-row-small.lp-grid-stack > .lp-grid-margin::before {
top : -10px;
}
.lp-grid-divider.lp-grid-column-small.lp-grid-stack > .lp-grid-margin::before {
left : 20px;
}
.lp-grid-divider.lp-grid-column-medium, .lp-grid-divider.lp-grid-medium {
margin-left : -40px;
}
.lp-grid-divider.lp-grid-column-medium > *, .lp-grid-divider.lp-grid-medium > * {
padding-left : 40px;
}
.lp-grid-divider.lp-grid-column-medium > :not(.lp-first-column)::before, .lp-grid-divider.lp-grid-medium > :not(.lp-first-column)::before {
left : 20px;
}
.lp-grid-divider.lp-grid-medium.lp-grid-stack > .lp-grid-margin, .lp-grid-divider.lp-grid-row-medium.lp-grid-stack > .lp-grid-margin {
margin-top : 40px;
}
.lp-grid-divider.lp-grid-medium.lp-grid-stack > .lp-grid-margin::before {
top : -20px;
left : 40px;
}
.lp-grid-divider.lp-grid-row-medium.lp-grid-stack > .lp-grid-margin::before {
top : -20px;
}
.lp-grid-divider.lp-grid-column-medium.lp-grid-stack > .lp-grid-margin::before {
left : 40px;
}
.lp-grid-divider.lp-grid-column-large, .lp-grid-divider.lp-grid-large {
margin-left : -80px;
}
.lp-grid-divider.lp-grid-column-large > *, .lp-grid-divider.lp-grid-large > * {
padding-left : 80px;
}
.lp-grid-divider.lp-grid-column-large > :not(.lp-first-column)::before, .lp-grid-divider.lp-grid-large > :not(.lp-first-column)::before {
left : 40px;
}
.lp-grid-divider.lp-grid-large.lp-grid-stack > .lp-grid-margin, .lp-grid-divider.lp-grid-row-large.lp-grid-stack > .lp-grid-margin {
margin-top : 80px;
}
.lp-grid-divider.lp-grid-large.lp-grid-stack > .lp-grid-margin::before {
top : -40px;
left : 80px;
}
.lp-grid-divider.lp-grid-row-large.lp-grid-stack > .lp-grid-margin::before {
top : -40px;
}
.lp-grid-divider.lp-grid-column-large.lp-grid-stack > .lp-grid-margin::before {
left : 80px;
}
@media (min-width: 1200px) {
.lp-grid-divider.lp-grid-column-large, .lp-grid-divider.lp-grid-large {
margin-left : -140px;
}
.lp-grid-divider.lp-grid-column-large > *, .lp-grid-divider.lp-grid-large > * {
padding-left : 140px;
}
.lp-grid-divider.lp-grid-column-large > :not(.lp-first-column)::before, .lp-grid-divider.lp-grid-large > :not(.lp-first-column)::before {
left : 70px;
}
.lp-grid-divider.lp-grid-large.lp-grid-stack > .lp-grid-margin, .lp-grid-divider.lp-grid-row-large.lp-grid-stack > .lp-grid-margin {
margin-top : 140px;
}
.lp-grid-divider.lp-grid-large.lp-grid-stack > .lp-grid-margin::before {
top : -70px;
left : 140px;
}
.lp-grid-divider.lp-grid-row-large.lp-grid-stack > .lp-grid-margin::before {
top : -70px;
}
.lp-grid-divider.lp-grid-column-large.lp-grid-stack > .lp-grid-margin::before {
left : 140px;
}
}
s :focus {
outline : 0;
}
:focus-visible {
outline : 2px dotted #fff;
}
::selection {
background : #39f;
color : #171717;
text-shadow : none;
}
.lp-link-toggle .lp-link-muted, .lp-nav-default .lp-nav-sub a, .lp-navbar-dropdown-nav > li > a, a.lp-link-text:hover {
color : rgb(255, 255, 255, 0.5);
}
a.lp-link-text {
color : inherit;
}
.lp-link-toggle {
color : inherit !important ;
}
blockquote {
margin : 0 0 20px 0;
font-size : 18px;
line-height : 1.5;
font-style : italic;
padding : 0 0 0 40px;
color : #fff;
font-family : Roboto;
font-weight : 300;
border-left : 2px solid #ff6c22;
}
* + blockquote {
margin-top : 20px;
}
blockquote p:last-of-type {
margin-bottom : 0;
}
blockquote footer {
margin-top : 10px;
font-size : 11px;
line-height : 1.5;
color : rgb(255, 255, 255, 0.7);
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
}
blockquote footer::before {
content : "??? ";
}
@media (min-width: 960px) {
.lp-h1, h1 {
font-size : 40px;
}
h2 {
font-size : 30px;
}
}
.lp-heading-divider {
padding-bottom : calc(5px + 0.1em);
border-bottom : calc(0.2px + 0.05em) solid rgb(255, 255, 255, 0.1);
}
.lp-list {
padding : 0;
list-style : none;
}
.lp-list > * {
break-inside : avoid-column;
}
.lp-container > :last-child, .lp-grid > * > :last-child, .lp-list > * > :last-child, .lp-navbar-dropdown > :last-child, .lp-navbar-item > :last-child, .lp-panel > :last-child, .lp-section > :last-child {
margin-bottom : 0;
}
.lp-list > :nth-child(1n+2) {
margin-top : 10px;
}
.lp-icon-link {
color : rgb(255, 255, 255, 0.5);
}
.lp-icon-link:hover {
color : rgb(255, 255, 255, 0.7);
}
.lp-icon-link:active {
color : rgb(242, 242, 242, 0.7);
}
.lp-button {
margin : 0;
border : none;
overflow : visible;
font : inherit;
color : inherit;
text-transform : none;
border-radius : 500px;
display : inline-block;
box-sizing : border-box;
padding : 0 30px;
font-size : 11px;
line-height : 38px;
text-align : center;
text-decoration : none;
transition : 0.1s ease-in-out;
transition-property : color, background-color, background-position, background-size, border-color, box-shadow;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
background-origin : border-box;
}
.lp-nav-default, .lp-navbar-dropdown-nav {
font-family : 'Work Sans';
}
.lp-nav-default, .lp-navbar-dropdown-nav, .lp-navbar-nav > li > a, .lp-navbar-toggle {
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-button:hover {
text-decoration : none;
}
.lp-button-primary {
background-color : #ff6c22;
color : #fff;
border : transparent solid 1px;
}
.lp-button-primary:hover {
background-color : #ff7d3c;
color : #fff;
border-color : transparent;
}
.lp-button-primary:active {
background-color : #ee5000;
color : #fff;
border-color : transparent;
}
.lp-button-primary:disabled {
background-color : #1b1b1b;
color : rgb(255, 255, 255, 0.5);
border : transparent solid 1px;
background-image : none;
box-shadow : none;
}
.lp-navbar-container:not(.lp-navbar-transparent), .lp-offcanvas-bar, .lp-section-default {
background : #171717;
}
.lp-button-large {
padding : 0 40px;
line-height : 53px;
font-size : 11px;
border-radius : 500px;
}
.lp-section {
display : flow-root;
box-sizing : border-box;
padding-top : 40px;
padding-bottom : 40px;
}
.lp-section-large {
padding-top : 70px;
padding-bottom : 70px;
}
.lp-section-muted {
background : #1b1b1b;
}
.lp-container {
display : flow-root;
box-sizing : content-box;
max-width : 1200px;
margin-left : auto;
margin-right : auto;
padding-left : 15px;
padding-right : 15px;
}
.lp-container-expand, .lp-preserve-width, .lp-preserve-width img {
max-width : none;
}
.lp-offcanvas {
display : none;
position : fixed;
top : 0;
bottom : 0;
left : 0;
z-index : 1000;
}
.lp-offcanvas-bar {
position : absolute;
top : 0;
bottom : 0;
left : calc(100vw - 270px);
box-sizing : border-box;
width : 270px;
padding : 20px 20px;
background : #171717;
overflow-y : auto;
box-shadow : 0 40px 80px -20px rgb(0, 0, 0, 0.3);
}
.lp-nav-default, .lp-nav-default .lp-nav-sub {
line-height : 1.6;
font-size : 12px;
}
.lp-navbar, .lp-panel {
position : relative;
}
.lp-grid {
display : flex;
flex-wrap : wrap;
margin : 0 0 0 -20px;
padding : 0;
list-style : none;
}
.lp-grid-medium > *, .lp-grid > * {
padding-left : 20px;
}
.lp-grid-small {
margin-left : -10px;
}
.lp-grid-small > * {
padding-left : 10px;
}
ul.lp-grid-small {
list-style-type : none;
padding : 0;
margin : 0;
}
.lp-grid-medium {
margin-left : -20px;
}
.lp-grid-large {
margin-left : -40px;
}
.lp-grid-large > * {
padding-left : 40px;
}
@media (min-width: 1200px) {
.lp-grid {
margin-left : -40px;
}
.lp-grid > * {
padding-left : 40px;
}
* + .lp-grid-margin, .lp-grid + .lp-grid {
margin-top : 40px;
}
.lp-grid-large {
margin-left : -70px;
}
.lp-grid-large > * {
padding-left : 70px;
}
}
.lp-grid-item-match, .lp-grid-match > * {
display : flex;
flex-wrap : wrap;
}
.lp-nav, .lp-nav ul {
margin : 0;
padding : 0;
list-style : none;
}
.lp-nav li > a {
display : flex;
align-items : center;
column-gap : 0.25em;
text-decoration : none;
}
.lp-nav > li > a {
padding : 5px 0;
}
.lp-nav-sub {
display : none;
}
ul.lp-nav-sub {
padding : 5px 0 5px 15px;
}
.lp-nav-sub a {
padding : 2px 0;
}
.lp-nav-default > li > a {
color : rgb(255, 255, 255, 0.5);
transition : 0.1s ease-in-out;
transition-property : color, background-color, border-color, box-shadow, opacity, filter;
}
.lp-navbar {
display : flex;
}
.lp-navbar-left, .lp-navbar-right {
display : flex;
gap : 15px;
align-items : center;
}
.lp-navbar-right {
margin-left : auto;
}
.lp-navbar-nav {
display : flex;
gap : 0;
margin : 0;
padding : 0;
list-style : none;
}
.lp-navbar-left, .lp-navbar-right {
flex-wrap : wrap;
}
.lp-navbar-item, .lp-navbar-nav > li > a, .lp-navbar-toggle {
display : flex;
justify-content : center;
align-items : center;
column-gap : 0.25em;
box-sizing : border-box;
min-height : 80px;
font-size : 12px;
font-family : 'Work Sans';
text-decoration : none;
}
.lp-navbar-nav > li > a {
padding : 0 15px;
color : rgb(255, 255, 255, 0.5);
transition : 0.1s ease-in-out;
transition-property : color, background-color, border-color, box-shadow;
position : relative;
z-index : 1;
}
.lp-navbar-nav > li > a::before {
content : "";
display : block;
position : absolute;
z-index : -1;
top : 0;
height : 1px;
background-color : transparent;
transition : 0.1s ease-in-out;
transition-property : background-color, border-color, box-shadow, height, left, right, opacity;
--lp-navbar-nav-item-line-margin-horizontal : 0;
}
.lp-navbar-nav > li > a:active::before {
height : 2px;
}
.lp-navbar-nav > li.lp-active > a::before {
background-color : #ff6c22;
height : 2px;
}
.lp-navbar-item {
padding : 0;
color : rgb(255, 255, 255, 0.7);
}
.lp-navbar-toggle {
padding : 0;
color : rgb(255, 255, 255, 0.5);
}
.lp-logo:hover, .lp-navbar-toggle:hover {
color : #fff;
text-decoration : none;
}
.lp-navbar-dropdown {
display : none;
--lp-position-offset : 0;
--lp-position-shift-offset : -10px;
--lp-position-viewport-offset : 15px;
width : 200px;
padding : 25px;
background : #171717;
color : rgb(255, 255, 255, 0.7);
box-shadow : 0 20px 80px -20px rgb(0, 0, 0, 0.5);
}
.lp-navbar-dropdown.active {
display : block;
}
.lp-navbar-dropdown-nav {
font-size : 11px;
}
.lp-navbar-container {
transition : background-color 0.1s ease-in-out;
}
.lp-child-width-auto > *, .lp-width-auto {
width : auto;
}
@media (min-width: 640px) {
.lp-container {
padding-left : 20px;
padding-right : 20px;
}
.lp-offcanvas-bar {
left : -350px;
width : 350px;
padding : 20px;
}
.lp-child-width-1-4\@s > * {
width : 25%;
}
}
.lp-width-1-1 {
width : 100%;
box-sizing : border-box;
}
.box-rover {
padding-top : 24px;
}
.app-icon {
padding-left : 70px;
}
.app-title {
padding-left : 30px;
}
.svg-lp {
padding-right : 5px;
}
.footer-icon {
display : flex !important ;
align-items : center !important ;
}
.lp-width-1-2 {
width : 50%;
float : left;
box-sizing : border-box;
}
.lp-child-width-1-1 {
width : 100%;
}
.lp-child-width-1-4 > * {
width : 25%;
}
.main-image {
padding-left : 62px;
}
@media (max-width: 767px) {
.lp-width-1-2 {
width : 100%;
float : none;
}
.lp-width-1-3 {
width : 100%;
float : none;
}
.lp-child-width-1-4 {
width : 100%;
}
.b-mobile {
padding-top : 40px;
}
.s-mobile {
padding-top : 20px;
}
.box-rover {
padding-top : 0;
}
.main-image {
padding-left : 0;
}
}
.lp-text-lead {
font-size : 20px;
line-height : 1.5;
color : #fff;
font-family : Roboto;
font-weight : 300;
}
.lp-text-muted {
color : rgb(255, 255, 255, 0.5) !important ;
}
.lp-text-primary {
color : #ff6c22 !important ;
}
.lp-text-left {
text-align : left !important ;
}
.lp-text-center {
text-align : center !important ;
}
.lp-text-large {
font-size : 22px;
line-height : 1.5;
}
.lp-text-emphasis {
color : #fff !important ;
}
.lp-panel {
display : flow-root;
box-sizing : border-box;
}
.lp-logo {
font-size : 22px;
font-family : Roboto;
color : #fff;
text-decoration : none;
}
:where(.lp-logo) {
display : inline-block;
vertical-align : middle;
}
.lp-flex {
display : flex;
}
.lp-flex-inline {
display : inline-flex;
}
.lp-flex-center {
justify-content : center;
}
.lp-flex-middle {
align-items : center;
}
.lp-flex-column {
flex-direction : column;
}
.lp-flex-nowrap {
flex-wrap : nowrap;
}
.lp-margin {
margin-bottom : 20px;
}
* + .lp-margin {
margin-top : 20px !important ;
}
.lp-margin-small {
margin-bottom : 10px;
}
* + .lp-margin-small {
margin-top : 10px !important ;
}
.lp-margin-small-right {
margin-right : 10px !important ;
}
.lp-margin-auto-bottom {
margin-bottom : auto !important ;
}
.lp-margin-remove-first-child > :first-child, .lp-margin-remove-top {
margin-top : 0 !important ;
}
.lp-margin-remove-bottom, .lp-margin-remove-last-child > :last-child {
margin-bottom : 0 !important ;
}
.lp-margin-remove-vertical {
margin-top : 0 !important ;
margin-bottom : 0 !important ;
}
@media (max-width: 959px) {
.lp-visible\@m {
display : none !important ;
}
}
* {
--lp-inverse : initial;
}
.lp-navbar-container:not(.lp-navbar-transparent), .lp-navbar-dropdown, .lp-offcanvas-bar, .lp-section-default:not(.lp-preserve-color) {
--lp-inverse : light;
}
@media print {
img {
page-break-inside : avoid;
}
*, ::after, ::before {
background : 0 0 !important ;
color : #000 !important ;
box-shadow : none !important ;
text-shadow : none !important ;
}
a, a:visited {
text-decoration : underline;
}
img {
max-width : 100% !important ;
}
h2, p {
orphans : 3;
widows : 3;
}
h2 {
page-break-after : avoid;
}
}
.tm-page > :nth-child(3) {
--tm-reveal : -10;
}
.tm-page > :nth-child(4) {
--tm-reveal : -20;
}
.tm-grid-expand > * {
flex-grow : 1;
}
@media (min-width: 960px) {
.lp-section {
padding-top : 70px;
padding-bottom : 70px;
}
.lp-section-large {
padding-top : 140px;
padding-bottom : 140px;
}
.lp-container {
padding-left : 40px;
padding-right : 40px;
}
.lp-navbar-left, .lp-navbar-right {
gap : 30px;
}
.lp-width-1-2\@m {
width : 50%;
}
.lp-width-1-3 {
width : calc(100% / 3);
}
.lp-width-large\@m {
width : 450px;
}
.lp-width-expand\@m {
flex : 1;
min-width : 1px;
}
.lp-width-1-2\@m, .lp-width-large\@m {
flex : initial;
}
.lp-text-left\@m {
text-align : left !important ;
}
.lp-hidden\@m {
display : none !important ;
}
.tm-grid-expand > .lp-width-1-2\@m, .tm-grid-expand > .lp-width-large\@m {
flex-grow : 1;
}
.tm-grid-expand > .lp-width-expand\@m {
flex-grow : 999;
}
}
html {
font-family : Roboto;
font-size : 15px;
font-weight : 300;
line-height : 1.6;
background : #171717;
color : rgb(255, 255, 255, 0.7);
text-rendering : optimizeLegibility;
}
body {
margin : 0;
}
a {
color : #fff;
text-decoration : none;
cursor : pointer;
}
img, svg {
vertical-align : middle;
}
img, svg {
max-width : 100%;
height : auto;
box-sizing : border-box;
}
p, ul {
margin : 0 0 20px 0;
}
* + ul {
margin-top : 20px;
}
.lp-h1, .lp-h5, h1, h2 {
margin : 0 0 20px 0;
font-family : Roboto;
font-weight : 400;
color : #fff;
text-transform : none;
}
.lp-h1, h1 {
font-size : 34px;
line-height : 1.4;
font-weight : 300;
}
h2 {
font-size : 25.5px;
line-height : 1.3;
font-weight : 300;
}
.lp-h5 {
font-size : 12px;
line-height : 1.4;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
@media (min-width: 960px) {
.lp-h1, h1 {
font-size : 40px;
}
h2 {
font-size : 30px;
}
}
ul {
padding-left : 30px;
}
ul > li > ul {
margin : 0;
}
:focus {
outline : 0;
}
:focus-visible {
outline : 2px dotted #fff;
}
::selection {
background : #39f;
color : #171717;
text-shadow : none;
}
main {
display : block;
}
:root {
--lp-breakpoint-s : 640px;
--lp-breakpoint-m : 960px;
--lp-breakpoint-l : 1200px;
--lp-breakpoint-xl : 1600px;
}
.lp-link-toggle .lp-link-muted {
color : rgb(255, 255, 255, 0.5);
}
.lp-link-toggle:hover .lp-link-muted {
color : #fff;
}
a.lp-link-text {
color : inherit;
}
a.lp-link-text:hover {
color : rgb(255, 255, 255, 0.5);
}
.lp-link-toggle {
color : inherit !important ;
text-decoration : none !important ;
}
.lp-heading-divider {
padding-bottom : calc(5px + 0.1em);
border-bottom : calc(0.2px + 0.05em) solid rgb(255, 255, 255, 0.1);
}
.lp-list {
padding : 0;
list-style : none;
}
.lp-list > * {
break-inside : avoid-column;
}
.lp-list > * > :last-child {
margin-bottom : 0;
}
.lp-list > :nth-child(1n+2) {
margin-top : 10px;
}
.lp-icon {
margin : 0;
border : none;
border-radius : 0;
overflow : visible;
font : inherit;
color : inherit;
text-transform : none;
padding : 0;
background-color : transparent;
display : inline-block;
fill : currentcolor;
line-height : 0;
}
.lp-icon > * {
transform : translate(0,0);
}
.lp-icon-link {
color : rgb(255, 255, 255, 0.5);
text-decoration : none !important ;
}
.lp-icon-link:hover {
color : rgb(255, 255, 255, 0.7);
}
.lp-icon-link:active {
color : rgb(242, 242, 242, 0.7);
}
.lp-button {
margin : 0;
border : none;
overflow : visible;
font : inherit;
color : inherit;
text-transform : none;
border-radius : 0;
display : inline-block;
box-sizing : border-box;
padding : 0 30px;
vertical-align : middle;
font-size : 11px;
line-height : 38px;
text-align : center;
text-decoration : none;
transition : 0.1s ease-in-out;
transition-property : color, background-color, background-position, background-size, border-color, box-shadow;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
border-radius : 500px;
background-origin : border-box;
}
.lp-button:not(:disabled) {
cursor : pointer;
}
.lp-button:hover {
text-decoration : none;
}
.lp-button-primary {
background-color : #ff6c22;
color : #000000;
border : transparent solid 1px;
}
.lp-button-primary:hover {
background-color : #ff7d3c;
color : #000000;
border-color : transparent;
}
.lp-button-primary:active {
background-color : #ee5000;
color : #000000;
border-color : transparent;
}
.lp-button-primary:disabled {
background-color : #1b1b1b;
color : rgb(255, 255, 255, 0.5);
border : transparent solid 1px;
background-image : none;
box-shadow : none;
}
.lp-button-large {
padding : 0 40px;
line-height : 55px;
font-size : 15px;
font-weight : bold;
border-radius : 500px;
}
.lp-section {
display : flow-root;
box-sizing : border-box;
padding-top : 40px;
padding-bottom : 40px;
}
@media (min-width: 960px) {
.lp-section {
padding-top : 70px;
padding-bottom : 70px;
}
}
.lp-section > :last-child {
margin-bottom : 0;
}
.lp-section-large {
padding-top : 70px;
padding-bottom : 70px;
}
@media (min-width: 960px) {
.lp-section-large {
padding-top : 140px;
padding-bottom : 140px;
}
}
.lp-section-default {
background : #171717;
}
.lp-container {
display : flow-root;
box-sizing : content-box;
max-width : 1200px;
margin-left : auto;
margin-right : auto;
padding-left : 15px;
padding-right : 15px;
}
@media (min-width: 640px) {
.lp-container {
padding-left : 20px;
padding-right : 20px;
}
}
@media (min-width: 960px) {
.lp-container {
padding-left : 40px;
padding-right : 40px;
}
}
.lp-container > :last-child {
margin-bottom : 0;
}
.lp-container-expand {
max-width : none;
}
.lp-totop {
padding : 5px;
color : rgb(255, 255, 255, 0.2);
transition : 0.1s ease-in-out;
transition-property : color, background-color, border-color, box-shadow;
}
.lp-totop:hover {
color : #fff;
}
.lp-totop:active {
color : #ff6c22;
}
.lp-drop {
display : none;
position : absolute;
z-index : 1020;
--lp-position-offset : 20px;
--lp-position-viewport-offset : 15px;
box-sizing : border-box;
width : 300px;
}
.lp-sticky {
position : relative;
z-index : 980;
box-sizing : border-box;
}
.lp-sticky-placeholder {
pointer-events : none;
}
.lp-offcanvas {
display : none;
position : fixed;
top : 0;
bottom : 0;
left : 0;
z-index : 1000;
}
.lp-offcanvas-flip .lp-offcanvas {
right : 0;
left : auto;
}
.lp-offcanvas-bar {
position : absolute;
top : 0;
bottom : 0;
left : calc(100vw - 270px);
box-sizing : border-box;
width : 270px;
padding : 20px 20px;
background : #171717;
overflow-y : auto;
box-shadow : 0 40px 80px -20px rgb(0, 0, 0, 0.3);
}
@media (min-width: 640px) {
.lp-offcanvas-flip .lp-offcanvas-bar {
right : -350px;
}
.lp-offcanvas-bar {
position : absolute;
top : 0;
bottom : 0;
left : calc(100vw - 270px);
box-sizing : border-box;
width : 270px;
padding : 20px 20px;
background : #171717;
overflow-y : auto;
box-shadow : 0 40px 80px -20px rgb(0, 0, 0, 0.3);
}
}
.lp-grid {
display : flex;
flex-wrap : wrap;
margin : 0;
padding : 0;
list-style : none;
}
.lp-grid > * {
margin : 0;
}
.lp-grid > * > :last-child {
margin-bottom : 0;
}
.lp-grid {
margin-left : -27px;
}
.lp-grid > * {
padding-left : 20px;
}
* + .lp-grid-margin, .lp-grid + .lp-grid {
margin-top : 20px;
}
@media (min-width: 1200px) {
.lp-grid {
margin-left : -40px;
}
.lp-grid > * {
padding-left : 40px;
}
* + .lp-grid-margin, .lp-grid + .lp-grid {
margin-top : 40px;
}
}
.lp-grid-small {
margin-left : -10px;
}
.lp-grid-small > * {
padding-left : 10px;
}
.lp-grid-medium {
margin-left : -20px;
}
.lp-grid-medium > * {
padding-left : 20px;
}
.lp-grid-large {
margin-left : -40px;
}
.lp-grid-large > * {
padding-left : 40px;
}
@media (min-width: 1200px) {
.lp-grid-large {
margin-left : -70px;
}
.lp-grid-large > * {
padding-left : 70px;
}
.lp-grid-divider > :not(.lp-first-column)::before {
left : 40px;
}
}
.lp-grid-item-match, .lp-grid-match > * {
display : flex;
flex-wrap : wrap;
}
.lp-nav, .lp-nav ul {
margin : 0;
padding : 0;
list-style : none;
}
.lp-nav li > a {
display : flex;
align-items : center;
column-gap : 0.25em;
text-decoration : none;
}
.lp-nav > li > a {
padding : 5px 0;
}
ul.lp-nav-sub {
padding : 5px 0 5px 15px;
}
.lp-nav-sub a {
padding : 2px 0;
}
.lp-nav-parent-icon {
margin-left : auto;
transition : transform 0.3s ease-out;
}
.lp-nav-default {
font-size : 12px;
line-height : 1.6;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-nav-default > li > a {
color : rgb(255, 255, 255, 0.5);
transition : 0.1s ease-in-out;
transition-property : color, background-color, border-color, box-shadow, opacity, filter;
}
.lp-nav-default > li > a:hover {
color : #fff;
}
.lp-nav-default > li.lp-active > a {
color : #fff;
}
.lp-nav-default .lp-nav-sub {
font-size : 12px;
line-height : 1.6;
}
.lp-nav-default .lp-nav-sub a {
color : rgb(255, 255, 255, 0.5);
}
.lp-nav-default .lp-nav-sub a:hover {
color : #fff;
}
.lp-nav.lp-nav-divider > :not(.lp-nav-header, .lp-nav-divider) + :not(.lp-nav-header, .lp-nav-divider) {
margin-top : 8px;
padding-top : 8px;
border-top : 1px solid rgb(255, 255, 255, 0.1);
}
.lp-navbar {
display : flex;
position : relative;
}
.lp-navbar-container:not(.lp-navbar-transparent) {
background : #171717;
}
.lp-navbar-left, .lp-navbar-right {
display : flex;
gap : 15px;
align-items : center;
}
.lp-navbar-right {
margin-left : auto;
}
.lp-navbar-nav {
display : flex;
gap : 0;
margin : 0;
padding : 0;
list-style : none;
}
.lp-navbar-left, .lp-navbar-right {
flex-wrap : wrap;
}
.lp-navbar-item, .lp-navbar-nav > li > a, .lp-navbar-toggle {
display : flex;
justify-content : center;
align-items : center;
column-gap : 0.25em;
box-sizing : border-box;
min-height : 80px;
font-size : 12px;
font-family : 'Work Sans';
text-decoration : none;
}
.lp-navbar-nav > li > a {
padding : 0 15px;
color : rgb(255, 255, 255, 0.5);
transition : 0.1s ease-in-out;
transition-property : color, background-color, border-color, box-shadow;
position : relative;
z-index : 1;
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-navbar-nav > li > a::before {
content : "";
display : block;
position : absolute;
z-index : -1;
top : 0;
height : 1px;
background-color : transparent;
transition : 0.1s ease-in-out;
transition-property : background-color, border-color, box-shadow, height, left, right, opacity;
--lp-navbar-nav-item-line-margin-horizontal : 0;
left : var(--lp-navbar-nav-item-line-margin-horizontal);
right : var(--lp-navbar-nav-item-line-margin-horizontal);
}
.lp-navbar-nav > li:hover > a {
color : #fff;
}
.lp-navbar-nav > li > a:active {
color : #fff;
}
.lp-navbar-nav > li > a:active::before {
height : 2px;
}
.lp-navbar-nav > li.lp-active > a {
color : #fff;
}
.lp-navbar-nav > li.lp-active > a::before {
background-color : #ff6c22;
height : 2px;
}
.lp-navbar-item {
padding : 0 0;
color : rgb(255, 255, 255, 0.7);
}
.lp-navbar-item > :last-child {
margin-bottom : 0;
}
.lp-navbar-toggle {
padding : 0 0;
color : rgb(255, 255, 255, 0.5);
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-navbar-toggle:hover {
color : #fff;
text-decoration : none;
}
.lp-navbar-dropdown {
--lp-position-offset : 0;
--lp-position-shift-offset : -10px;
--lp-position-viewport-offset : 15px;
width : 200px;
padding : 25px;
background : #171717;
color : rgb(255, 255, 255, 0.7);
box-shadow : 0 20px 80px -20px rgb(0, 0, 0, 0.5);
}
.lp-navbar-dropdown > :last-child {
margin-bottom : 0;
}
.lp-navbar-dropdown-nav {
font-size : 11px;
font-family : 'Work Sans';
font-weight : 500;
text-transform : uppercase;
letter-spacing : 1px;
}
.lp-navbar-dropdown-nav > li > a {
color : rgb(255, 255, 255, 0.5);
}
.lp-navbar-dropdown-nav > li > a:hover {
color : #fff;
}
.lp-navbar-container {
transition : 0.1s ease-in-out;
transition-property : background-color;
}
@media (min-width: 960px) {
.lp-navbar-left, .lp-navbar-right {
gap : 30px;
}
}
.lp-child-width-auto > * {
width : auto;
}
@media (min-width: 640px) {
.lp-child-width-1-4\@s > * {
width : 25%;
}
}
.lp-width-large {
width : 450px;
}
.lp-width-auto {
width : auto;
}
@media (min-width: 960px) {
.lp-width-1-2\@m {
width : 50%;
}
.lp-width-large\@m {
width : 450px;
}
.lp-width-expand\@m {
flex : 1;
min-width : 1px;
}
.lp-width-1-2\@m, .lp-width-large\@m {
flex : initial;
}
}
.lp-text-lead {
font-size : 20px;
line-height : 1.5;
color : #fff;
font-family : Roboto;
font-weight : 300;
}
.lp-text-muted {
color : rgb(255, 255, 255, 0.5) !important ;
}
.lp-text-primary {
color : #ff6c22 !important ;
}
.lp-text-left {
text-align : left !important ;
}
.lp-text-center {
text-align : center !important ;
}
@media (min-width: 960px) {
.lp-text-left\@m {
text-align : left !important ;
}
}
.lp-panel {
display : flow-root;
position : relative;
box-sizing : border-box;
}
.lp-panel > :last-child {
margin-bottom : 0;
}
.lp-preserve-width, .lp-preserve-width img {
max-width : none;
}
.lp-logo {
font-size : 22px;
font-family : Roboto;
color : #fff;
text-decoration : none;
}
:where(.lp-logo) {
display : inline-block;
vertical-align : middle;
}
.lp-logo:hover {
color : #fff;
text-decoration : none;
}
.lp-logo-inverse {
display : none;
}
.lp-flex {
display : flex;
}
.lp-flex-inline {
display : inline-flex;
}
.lp-flex-center {
justify-content : center;
}
.lp-flex-middle {
align-items : center;
}
.lp-flex-column {
flex-direction : column;
}
.lp-flex-nowrap {
flex-wrap : nowrap;
}
.lp-margin {
margin-bottom : 20px;
}
* + .lp-margin {
margin-top : 20px !important ;
}
.lp-margin-small {
margin-bottom : 10px;
}
* + .lp-margin-small {
margin-top : 10px !important ;
}
.lp-margin-small-right {
margin-right : 10px !important ;
}
.lp-margin-auto-bottom {
margin-bottom : auto !important ;
}
.lp-margin-remove-top {
margin-top : 0 !important ;
}
.lp-margin-remove-bottom {
margin-bottom : 0 !important ;
}
.lp-margin-remove-vertical {
margin-top : 0 !important ;
margin-bottom : 0 !important ;
}
.lp-margin-remove-first-child > :first-child {
margin-top : 0 !important ;
}
.lp-margin-remove-last-child > :last-child {
margin-bottom : 0 !important ;
}
:root {
--lp-position-margin-offset : 0;
}
[hidden] {
display : none !important ;
}
@media (min-width: 960px) {
.lp-hidden\@m {
display : none !important ;
}
}
@media (max-width: 959px) {
.lp-visible\@m {
display : none !important ;
}
}
* {
--lp-inverse : initial;
}
.lp-navbar-container:not(.lp-navbar-transparent), .lp-navbar-dropdown, .lp-offcanvas-bar, .lp-section-default:not(.lp-preserve-color) {
--lp-inverse : light;
}
@media print {
*, ::after, ::before {
background : 0 0 !important ;
color : #000 !important ;
box-shadow : none !important ;
text-shadow : none !important ;
}
a, a:visited {
text-decoration : underline;
}
img {
page-break-inside : avoid;
}
img {
max-width : 100% !important ;
}
h2, p {
orphans : 3;
widows : 3;
}
h2 {
page-break-after : avoid;
}
}
html {
overflow-y : scroll;
}
body {
overflow : hidden;
overflow : clip;
}
.tm-page {
position : relative;
}
.tm-page > :nth-child(3) {
--tm-reveal : -10;
}
.tm-page > :nth-child(4) {
--tm-reveal : -20;
}
.tm-header, .tm-header-mobile {
position : relative;
}
.tm-grid-expand > * {
flex-grow : 1;
}
@media (min-width: 960px) {
.tm-grid-expand > .lp-width-1-2\@m, .tm-grid-expand > .lp-width-large\@m {
flex-grow : 1;
}
.tm-grid-expand > .lp-width-expand\@m {
flex-grow : 999;
}
}
@media all {
.line-3 {
opacity : 0;
}
.line-3 {
opacity : 1;
}
.line-2 {
transform : rotate(45deg);
}
.line-3 {
transform : rotate(-45deg);
}
.line-4 {
opacity : 0;
}
.line-1 {
transform : translateY(6px) scaleX(0);
}
.line-4 {
transform : translateY(-6px) scaleX(0);
}
}
#scrollToTop {
position : fixed;
bottom : 20px;
right : 20px;
width : 50px;
height : 50px;
background-color : rgb(7, 7, 7, 0.799);
border : none;
border-radius : 50%;
cursor : pointer;
display : none;
z-index : 9999;
}
#scrollToTop img {
width : 70%;
height : 70%;
object-fit : cover;
}
.close-menu {
display : flex;
justify-content : space-between;
align-items : center;
}
.close-menu img.close-image {
margin-left : auto;
}
.contact-menu .el-item {
display : inline-block;
margin-right : 10px;
}
.contact-menu .el-item:last-child {
margin-right : 0;
}

:where(:not([class*=lp--],[class*=tm-])),:where(:not([class*=lp--],[class*=tm-]))::after,:where(:not([class*=lp--],[class*=tm-]))::before{box-sizing:border-box;}
strong{font-weight:bolder;}
ol,p,ul{margin:0 0 20px;}
*+ol,*+p,*+ul{margin-top:20px;}
h1{margin:0 0 20px;font-family:Roboto;font-weight:400;color:#fff;text-transform:none;}
*+h1{margin-top:40px;}
h1{font-size:34px;line-height:1.4;font-weight:300;}
ol,ul{padding-left:30px;}
ol>li>ul,ul>li>ul{margin:0;}
:focus{outline:0;}
:focus-visible{outline:#fff dotted 2px;}
::selection{background:#39f;color:#171717;text-shadow:none;}
@media (min-width:960px){
h1{font-size:40px;}
}
.lp--container>:last-child{margin-bottom:0;}
.lp--margin-remove-adjacent+*{margin-top:0!important;}
.lp--margin-remove-bottom{margin-bottom:0!important;}
*{--lp--inverse:initial;}
@media print{
tr{page-break-inside:avoid;}
*,::after,::before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
p{orphans:3;widows:3;}
}
/*! CSS Used from: https://xn-----dlcbkcelnce3a9afr2adk4h1c4a.xn--p1ai/media/css/style.css */
ol,p,ul{margin:0 0 20px 0;}
*+ol,*+p,*+ul{margin-top:20px;}
h1{margin:0 0 20px 0;font-family:Roboto;font-weight:400;color:#fff;text-transform:none;}
h1{font-size:34px;line-height:1.4;font-weight:300;}
@media (min-width: 960px){
h1{font-size:40px;}
}
ol,ul{padding-left:30px;}
ol>li>ul,ul>li>ul{margin:0;}
:focus{outline:0;}
:focus-visible{outline:2px dotted #fff;}
::selection{background:#39f;color:#171717;text-shadow:none;}
.lp--container>:last-child{margin-bottom:0;}
.lp--article{display:flow-root;}
.lp--article>:last-child{margin-bottom:0;}
.lp--article-title{font-size:34px;line-height:1.2;color:#fff;font-family:Roboto;font-weight:300;}
@media (min-width: 960px){
.lp--article-title{font-size:40px;}
}
.lp--article-meta{font-size:11px;line-height:1.4;color:rgba(255,255,255,.5);font-family:'Work Sans';font-weight:500;text-transform:uppercase;letter-spacing:1px;}
.lp--margin-medium{margin-bottom:40px;}
*+.lp--margin-medium{margin-top:40px!important;}
.lp--margin-remove-bottom{margin-bottom:0!important;}
.lp--margin-remove-adjacent+*{margin-top:0!important;}
*{--lp--inverse:initial;}
@media print{
*,::after,::before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
tr{page-break-inside:avoid;}
p{orphans:3;widows:3;}
}
.article-container{
	margin-top: 70px;
}